/Controller/EclipseProject/bin/
/Source/
/logs/
/Controller/EclipseProject/controller.properties
[Bb]in
Controller/EclipseProject/.classpath
*.classpath
logs17-05-31_22-54-35.txt
logs17-05-31_22-55-05.txt
logs17-05-31_22-56-21.txt
logs17-05-31_22-56-39.txt
Controller/EclipseProject/src/com/htmlhigh5/gui - Shortcut.lnk
Controller/EclipseProject/src/com/htmlhigh5/gui/instagram.png
Controller/EclipseProject/src/com/htmlhigh5/gui/SC2016ICPCProblems.pdf
Controller/EclipseProject/C:\\*
*droneCarDebug*