/Controller/EclipseProject/bin/
/Source/
/logs/
/Controller/EclipseProject/controller.properties
[Bb]in
Controller/EclipseProject/.classpath
*.classpath
logs17-05-31_22-54-35.txt
logs17-05-31_22-55-05.txt
logs17-05-31_22-56-21.txt
logs17-05-31_22-56-39.txt
Controller/EclipseProject/Devices/*